[submodule "ui"]
	path = ui
	url = https://github.com/robamler/demo-ml-blockchain-ui.git
[submodule "blockchain-node"]
	path = blockchain-node
	url = https://github.com/robamler/demo-ml-blockchain-node.git
